*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.logo {
  color: rgb(167, 17, 17);
  margin-right: 200rem;
  height: 1rem;
  width: 15rem;
}

#content {
  display: flex;
  flex-direction: column;
}

.homeContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("./Assets/homepic.jpg") no-repeat center fixed ;
  background-size: cover;
}

.tag {
margin-bottom: 100px;
margin-left: 12rem;
width: 80rem;
font-size: 2.4rem;
font-weight: 800;
color: rgb(167, 17, 17);
}

.menuNav {
  background: url("./Assets/homepic.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.contactNav {
  background: url("./Assets/homepic.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.test {
  text-align: right;
  align-items: center;
  background-color: grey;
  color: rgb(167, 17, 17);
  padding: 20px;
}

.test a {
  margin-left: 30px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(167, 17, 17);
}

.contactparagraph {
  color: rgb(167, 17, 17);
  font-size: 30px;
  text-align: center;
  margin-top: 6.5rem;
}

.form-container {
  margin-left: 30rem;
  margin-top: 1rem;
  border: 3px solid rgb(167, 17, 17);
  padding: 60px;
  width: 20rem;
  background-color: white;
}

.house {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.menuList h2,
.menuList p{
  color: rgb(167, 17, 17);
  font-weight: 800;
  font-size: 18px;
}

.menuList button{
  padding: 6px;
  background-color: rgb(167, 17, 17);
  color: white;
  border-radius: 5px;
}

.menuTitle {
  color:rgb(167, 17, 17);
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}
